body {
background-color : lightgreen;
font-family : Bamini,Akshar,Arial;
}

h1,h2,h3{
	margin : 2px;
	
}


#header {
	width : 1200px;
	background-color: lightgreen;
	color: black;
	text-align : left;
	padding : auto;
}

#content {
	 
	width : 600px;
	float : left;
	padding : 10px;
}

#body {
	

 .navbar : a,{
    overflow: hidden;
    background-color: #33336;
    font-family: Bamini,Akshar,Arial;
}

 .navbar a {
    float: left;
    font-size: 14px;
    color: black;
    text-align: center;
    padding: 12px, 14px;
    text-decoration: none;
}



 
 .navbar a:hover; {
    background-color: darkblue;
}

#main {
	width : 1000px;
	padding-left :10px;
    float : left;
}
<style type="text/css">
.container{
position: relative;

}



</style>

	
#footer {
	margin-left : 10px;
	text-align : right;
	align : center;
	}	
	
	
	
